.Desktop1{
    width: 1629.11px; height: 1671.54px; position: relative; background: white;
}
.PadaWaktu{
    left: 232.33px; top: 1212.14px; position: absolute; text-align: center; color: #FF0000; font-size: 20px; font-family: Inter; font-weight: 400; letter-spacing: 2.20px; word-wrap: break-word;
}
.Rectangle10{
    width: 383.16px; height: 59.36px; left: 611.41px; top: 1108.03px; position: absolute; background: #00DEDE;
}
.Pengalaman{
    width: 414px; height: 66px; left: 595.84px; top: 1095.16px; position: absolute; text-align: center; color: #F61515; font-size: 50px; font-family: Inter; font-weight: 400; letter-spacing: 5.50px; word-wrap: break-word;
}
.lVoi{
    left: 767px; top: 1052px; position: absolute; text-align: center; color: #D11515; font-size: 25px; font-family: Inter; font-weight: 400; letter-spacing: 2.75px; word-wrap: brea;
}
.Sepeda{
    left: 743px; top: 1000px; position: absolute; text-align: center; color: #E81111; font-size: 25px; font-family: Inter; font-weight: 400; letter-spacing: 2.75px; word-wrap: break-word;
}
.Rectangle9{
    width: 228px; height: 49px; left: 667px; top: 933px; position: absolute; background: #00DEDE;
}
.Hoby{
    width: 197px; left: 686px; top: 921px; position: absolute; text-align: center; color: #FF0000; font-size: 50px; font-family: Inter; font-weight: 400; letter-spacing: 5.50px; word-wrap: break-word;
}
.SmkLatifiyah{
    width: 196px; height: 37px; left: 686px; top: 847px; position: absolute; text-align: center; color: #D50000; font-size: 24px; font-family: Inter; font-weight: 400; letter-spacing: 2.64px; word-wrap: break-word;
}
.Smpn2Kalibaru{
    left: 668px; top: 809px; position: absolute; text-align: center; color: #E52222; font-size: 24px; font-family: Inter; font-weight: 400; letter-spacing: 2.64px; word-wrap: break-word;
}
.MiuKalibar{
    width: 214px; height: 56px; left: 668px; top: 769px; position: absolute; text-align: center; color: #E41414; font-size: 24px; font-family: Inter; font-weight: 400; letter-spacing: 2.64px; word-wrap: break-word;
}
.Rectangle7{
    width: 583px; height: 53px; left: 503px; top: 692px; position: absolute; background: #05e9e9;
}
.RiwayatSekolah{
    width: 536px; height: 39px; left: 526px; top: 692px; position: absolute; text-align: center; color: #E40000; font-size: 45px; font-family: Inter; font-weight: 400; letter-spacing: 4.95px; word-wrap: break-word;
}
.WhatsappImage{
    width: 369px; height: 503px; left: 59.37px; top: 250.52px; position: absolute; border-radius: 52px src="images/akukuu.jpeg";
}
.Perka{
    width: 900.86px;  height: 64.04px; left: 345.08px; top: 190.36px; position: absolute; text-align: center; color: #F21304; font-size: 24px; font-family: Inter; font-weight: 400; letter-spacing: 2.64px; word-wrap: break-word;
}
.Rectangle4{
    width: 354px; height: 54px; left: 637px; top: 120px; position: absolute; background: #00DEDE;
}
.Biodata{
    width: 292.36px; height: 64.14px; left: 667.77px; top: 106px; position: absolute; transform: rotate(0.68deg); transform-origin: 0 0; text-align: center; color: #F30000; font-size: 55px; font-family: Inter; font-weight: 400; letter-spacing: 6.05px; word-wrap: break-word;
}
.Rectangle11{
    width: 669.31px; height: 72px; left: 483.12px; top: 25.04px; position: absolute; background: #00DEDE;
}
.HalloSemua{
    width: 675px; height: 29px; left: 484.18px; top: 11px; position: absolute; text-align: center; color: #F50000; font-size: 75px; font-family: Inter; font-weight: 400; letter-spacing: 8.25px; word-wrap: break-word;
}
.Rectangle1{
    width: 1630.37px; height: 1686.82px; left: -28.98px; top: -12.76px; position: absolute; background: linear-gradient(180deg, rgba(61.51, 200.99, 142.41, 0.35) 100%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1.50px rgba(0, 0, 0, 0.20) solid;
}
